// colors

$pink: #ee26c2;
$pink-light: #f4d4ed;
$white: #ffffff;
$main: #000000;
$main-08: rgba(0, 0, 0, 0.08);
$grey: #525252;
$grey-faded: #797979;
$grey-main: #f5f5f5;
$grey-light: #ebebeb;
$grey-btn: #cbcbcb;
$blue: #2676ee;

// typography

$rem-075: 0.75rem; // 12px
$rem-087: 0.87rem; // 14px
$rem-093: 0.93rem; // 15px
$rem-1: 1rem; // 16px
$rem-112: 1.12rem; // 18px
$rem-125: 1.25rem; // 20px
$rem-15: 1.5rem; // 24px

$inter: 'Inter', 'Arial', sans-serif;

// viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// transition

$transition-300: ease-in 0.3s;
