.aside-menu {
	border-radius: 1.25rem;
	min-height: 44.31rem;
	background-color: $white;
	box-shadow: 0rem 0rem 1.87rem 0rem $main-08;
	max-width: 18.43rem;
	transition: box-shadow $transition-300, background-color $transition-300;

	@media (max-width: $vp-tablet) {
		max-width: unset;
		width: 100%;
		min-height: unset;
	}

	@media (max-width: 40.62rem) {
		box-shadow: unset;
		background-color: transparent;
	}

	&__main {
		padding: 1.75rem 1.31rem 1.25rem 1.25rem;
		@include flexStart(column, unset);
		gap: 1.87rem;

		@media (max-width: $vp-tablet) {
			gap: 1.25rem;
		}

		@media (max-width: 50rem) {
			padding: 1.87rem 1.25rem 0 1.25rem;
			align-items: unset;
		}

		@media (max-width: 40.62rem) {
			padding: unset;
			background-color: transparent;
		}
	}

	&__title {
		font-weight: 600;
		font-size: $rem-15;
		line-height: 100%;

		@media (max-width: 40.62rem) {
			display: none;
		}
	}

	&__empty {
		@include flexCenter;
		gap: 1.87rem;

		@media (max-width: $vp-tablet) {
			flex-direction: row;
		}

		@media (max-width: 40.62rem) {
			display: none;
		}
	}

	&__empty--not-shown {
		display: none;
	}

	&__empty-text {
		font-weight: 500;
		line-height: 145%;
		text-align: center;

		@media (max-width: $vp-tablet) {
			text-align: left;
			max-width: 15.93rem;
		}
	}
}
