.btn {
	$root: &;

	border: unset;
	background-color: $pink;
	padding: 0.75rem 1.37rem 0.75rem 1.37rem;
	border-radius: 1.31rem;

	font-weight: 600;
	font-size: $rem-1;
	line-height: 100%;
	color: $white;

	@include flexCenter;

	&--account {
		background-color: $white;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		transition: background-color $transition-300;

		#{$root}__settings-icon {
			color: $grey;
			transition: color $transition-300;
		}

		&:hover,
		&:focus-visible {
			background-color: $pink;

			#{$root}__settings-icon {
				color: $white;
			}
		}
	}

	&--transparent {
		background-color: transparent;
		width: 1.5rem;
		height: 1.5rem;
		padding: unset;
	}

	&__open-icon {
		transition: transform $transition-300;
	}

	&--faded {
		background-color: $pink-light;
		width: 2.62rem;
		height: 2.62rem;
		border-radius: 0.25rem;
	}

	&--add-media {
		width: 100%;
		max-width: fit-content;
		height: 100%;
		border-radius: unset;
		padding: unset;

		font-size: $rem-093;
		line-height: 100%;
		color: $pink;
	}
}
