.chat-menu {
	min-height: 44.31rem;
	height: 100%;
	background-color: $white;
	padding: 1.75rem 1.75rem 1.75rem 1.75rem;
	border-radius: 1.25rem;
	width: 100%;
	box-shadow: 0px 0px 30px 0px $main-08;
	transition: box-shadow $transition-300;

	@media (max-width: 50rem) {
		box-shadow: unset;
		padding: 1.25rem 1.75rem 1.25rem 1.75rem;
	}

	@media (max-width: 31.25rem) {
		padding: 0.62rem 0 0.62rem 0;
	}

	&__main {
		@include flexCenter;
		gap: 1.18rem;
	}

	&__heading {
		@include flexCenter(row, center, space-between);
		gap: 0.62rem;
		width: 100%;
		position: relative;

		@media (max-width: 46.87rem) {
			position: relative;
			margin-bottom: 2.44rem;
		}
	}

	&__title {
		font-weight: 600;
		font-size: $rem-15;
		line-height: 100%;

		@media (max-width: 31.24rem) {
			font-size: $rem-125;
		}
	}

	&__info-block {
		@include flexCenter(row, center);
		gap: 1.62rem;
	}

	&__account-info {
		@include flexCenter(row);
		gap: 0.62rem;

		@media (max-width: 46.87rem) {
			position: absolute;
			top: 3.43rem;
			left: 0;
		}
	}

	&__account-name,
	&__email {
		font-size: $rem-093;
		line-height: 100%;
	}

	&__account-name {
		font-weight: 600;
	}

	&__email {
		color: $grey;
	}

	&__change-menu {
		@include flexCenter(column, flex-end, unset);
		gap: 0.75rem;
		width: 21.12rem;
		background-color: $white;
		box-shadow: 0px 0px 30px 0px $main-08;
		padding: 1rem 1.87rem 1rem 1.87rem;
		border-radius: 0.5rem;
		position: absolute;
		top: 3.37rem;
		right: 0;
		z-index: 10;
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		pointer-events: none;
		transition: opacity $transition-300, clip-path $transition-300;
	}

	&__change-menu--shown {
		opacity: 1;
		pointer-events: all;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	&__chat {
		position: relative;
		@include flexCenter(column, center, unset);
		background-color: $grey-light;
		border-radius: 1.25rem;
		padding: 3.06rem 1.25rem 0 1.25rem;
		width: 100%;
		height: 100%;
		min-height: 36.12rem;

		@media (max-width: 34.68rem) {
			height: 45.62rem;
		}

		@media (max-width: 31.25rem) {
			width: 100vw;
			padding: 1.87rem 1.25rem 1.87rem 1.25rem;
			border-radius: unset;
		}
	}

	&__empty {
		@include flexCenter;
		gap: 1.25rem;
	}

	&__empty-icon {
		@media (max-width: 50rem) {
			width: 11.25rem;
			height: 11.43rem;
		}
	}

	&__empty-text {
		font-weight: 500;
		line-height: 145%;
		max-width: 29.37rem;
		text-align: center;

		@media (max-width: 50rem) {
			max-width: 22.75rem;
		}

		@media (max-width: 31.25rem) {
			max-width: 16.93rem;
		}
	}

	&__btn-block {
		position: absolute;
		bottom: 10.25rem;
		left: 1.25rem;
		@include flexCenter(row);
		gap: 0.75rem;

		@media (max-width: 50rem) {
			bottom: 9.25rem;
		}

		@media (max-width: 34.68rem) {
			flex-direction: column-reverse;
			align-items: flex-end;
			left: unset;
			right: 1.25rem;
		}

		@media (max-width: 31.25rem) {
			bottom: 10.8rem;
		}
	}

	&__order-media-btn,
	&__order-report-btn {
		min-height: 2.68rem;
	}

	&__submit-btn-wrapper {
		@include flexCenter;
		gap: 2px;

		position: absolute;
		bottom: 3.7rem;
		right: 1.25rem;

		@media (max-width: 50rem) {
			bottom: 3rem;
			right: 2.5rem;
		}

		@media (max-width: 31.25rem) {
			right: 9%;
			bottom: 4.7rem;
		}
	}

	&__chatting {
		width: 100%;
		height: 80%;
		@include flexCenter(column, unset, flex-start);
		padding: 2.75rem 0 0 0;
	}

	&__current-date {
		font-size: $rem-093;
		line-height: 135%;
		color: $grey;
		position: absolute;
		top: 3.06rem;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		pointer-events: none;
	}

	&__current-hour {
		font-size: $rem-093;
		line-height: 135%;
		color: $grey;
	}

	&__answer-menu {
		display: flex;
		flex-direction: column;
		gap: 0.68rem;
		opacity: 0;
		transition: opacity $transition-300;
	}

	&__answer {
		@include flexStart(row);
		gap: 0.81rem;
	}

	&__current-answer {
		@include flexStart;
		gap: 0.5rem;
		opacity: 0;
		transition: opacity $transition-300;
	}

	&__text-answer,
	&__input-text {
		max-width: 33.81rem;
		padding: 1rem 1.37rem 1rem 1.37rem;
		background-color: $white;
		border-radius: 0.75rem;

		font-size: $rem-1;
		line-height: 145%;
		color: $main;
	}

	&__input-message {
		@include flexStart(column, flex-end);
		margin-left: auto;
		gap: 0.5rem;
	}
}
