.footer {
	padding: 2rem 0 2rem;
	$root: &;
	background-color: $grey-light;

	@media (max-width: 31.25rem) {
		background-color: $white;
		padding: 3.5rem 0 2rem;
	}

	&__main {
		width: 100%;
		@include flexCenter(row, center, space-between);
		gap: 4.06rem;

		@media (max-width: 74.06rem) {
			gap: 4vw;
		}

		@media (max-width: 70.93rem) {
			flex-direction: column;
			gap: 1.62rem;
			align-items: flex-start;
		}

		@media (max-width: 41.87rem) {
			gap: 1.25rem;
		}
	}

	&__inner-links {
		@include flexCenter(row, center, space-between);
		gap: 6.62rem;

		@media (max-width: 77.18rem) {
			gap: 4vw;
		}

		@media (max-width: 41.87rem) {
			gap: 1.25rem;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__additional-links {
		@include flexCenter(row, center, space-between);
		gap: 4.06rem;

		@media (max-width: 77.18rem) {
			gap: 4vw;
		}

		@media (max-width: 70.93rem) {
			flex-direction: row-reverse;
			gap: 8vw;
		}

		@media (max-width: 41.87rem) {
			flex-direction: column;
			gap: 1.25rem;
			align-items: flex-start;
		}
	}

	&__inner-options-block {
		@include flexCenter(row, center, space-between);
		gap: 4.06rem;

		@media (max-width: 77.18rem) {
			gap: 4vw;
		}

		@media (max-width: 70.93rem) {
			flex-direction: row-reverse;
			gap: 8vw;
		}

		@media (max-width: 41.87rem) {
			flex-direction: column-reverse;
			gap: 1.25rem;
			align-items: flex-start;
		}
	}

	&__mail-link,
	&__privacy-policy {
		@include flexCenter(row);
		gap: 0.75rem;
		max-height: 1.5rem;

		&:hover,
		&:focus-visible {
			#{$root}__link-text {
				color: $pink;
			}

			#{$root}__mail-icon {
				transform: translateX(0.4rem);
			}
		}

		@media (max-width: 37.5rem) {
			justify-content: unset;
		}
	}

	&__mail-link {
		@media (max-width: 68.75rem) {
			grid-column: 1/2;
		}
	}

	&__mail-icon {
		transition: transform $transition-300;
	}

	&__link-text {
		font-size: $rem-093;
		line-height: 145%;
		color: $grey;
		transition: color $transition-300;
	}

	&__language-block {
		@include flexCenter(row);
		gap: 0.75rem;

		@media (max-width: 37.5rem) {
			justify-content: unset;
		}
	}

	&__language-btn {
		color: $grey;
		transition: color $transition-300, scale $transition-300;

		&:hover,
		&:focus-visible {
			color: $pink;
			scale: 1.2;
		}
	}
}
