.hero {
	padding: 0 0 3.75rem;

	@media (max-width: 31.25rem) {
		padding: 0 0;
	}

	&__main {
		@include flexCenter(row, flex-start);
		gap: 1.87rem;

		@media (max-width: $vp-tablet) {
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}
