.main-link {
	$root: &;
	opacity: 0;

	@include flexCenter(row, center, unset);
	animation: mainLinkFadeIn 0.5s ease-in forwards;

	&__pink,
	&__c,
	&__hicken {
		transition: color $transition-300;
	}

	&__pink {
		color: $pink;
	}

	&:hover,
	&:focus-visible {
		#{$root}__c,
		#{$root}__hicken {
			color: $pink;
		}
	}

	&--footer {
		color: $grey;
		animation: unset;
		opacity: 1;
		#{$root}__pink {
			color: $grey;
		}

		&:hover,
		&:focus-visible {
			#{$root}__pink {
				color: $pink;
			}

			#{$root}__c,
			#{$root}__hicken {
				color: $main;
			}
		}

		@media (max-width: 68.75rem) {
			width: 13.68rem;
		}

		@media (max-width: 31.25rem) {
			width: 11.31rem;
		}
	}
}
