.media-files {
	@include flexStart;
	gap: 0.75rem;
	width: 100%;
	transition: opacity $transition-300, clip-path $transition-300;
	$root: &;

	&__list {
		@include flexStart;
		gap: 0.5rem;
		width: 100%;

		@media (max-width: 40.62rem) {
			margin-top: 1rem;
		}
	}

	&__item {
		@include flexStart;
		width: 100%;
		gap: 0.5rem;

		position: relative;
	}

	&__inner {
		@include flexCenter(row, center, space-between);
		gap: 0.62rem;
		width: 100%;
		background-color: $grey-main;
		border-radius: 0.25rem;
	}

	&__heading {
		@include flexCenter(row);
		gap: 0.56rem;
		padding: 0.56rem 1.25rem 0.56rem 0.56rem;

		@media (max-width: 31.25rem) {
			padding: 0.56rem 0.56rem 0.56rem 0.56rem;
		}
	}

	&__xml-icon {
		@media (max-width: 31.25rem) {
			display: none;
		}
	}

	&__company {
		font-size: $rem-093;
		line-height: 135%;
	}

	&__awaiting-plan {
		@include flexCenter(row);
		gap: 0.31rem;

		transition: opacity $transition-300;
	}

	&__current-plan {
		@include flexCenter(row);
		gap: 0.31rem;

		position: absolute;
		opacity: 0;
		bottom: 0.5rem;

		transition: opacity $transition-300;
	}

	&__current-text {
		@media (max-width: 37.5rem) {
			font-size: $rem-087;
		}
	}

	&__add-file-btn {
		margin-left: auto;
	}

	&--media {
		// display: none;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		pointer-events: none;
		opacity: 0;

		#{$root}__current-plan {
			bottom: 0.5rem;
		}
	}

	&--report {
		// display: none;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		pointer-events: none;
		opacity: 0;

		#{$root}__current-plan {
			bottom: 0.5rem;

			@media (max-width: $vp-tablet) {
				bottom: 3%;
			}

			@media (max-width: 48.75rem) {
				bottom: 10%;
			}

			@media (max-width: 33.18rem) {
			}
		}
	}

	&--show {
		// display: flex;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		pointer-events: all;
		opacity: 1;
	}
}
